# Игнорирование скомпилированных файлов Python
__pycache__/
*.pyc
*.pyo

# Игнорирование базы данных SQLite
*.db

# Игнорирование виртуальных окружений
pyvenv.cfg
/venv/
/env/

# Игнорирование миграций (если это не необходимо)
/migrations/

# Игнорирование файлов логов (если есть)
*.log
# Игнорирование скомпилированных файлов Python
__pycache__/
*.pyc
*.pyo

# Игнорирование базы данных SQLite
*.db

# Игнорирование виртуальных окружений
pyvenv.cfg
/venv/
/env/

# Игнорирование миграций (если это не необходимо)
/migrations/

# Игнорирование файлов логов (если есть)
*.log
