<h1>Purchased Items</h1>
{% if flowers %}
        <div class="flower-list">
            {% for flower in flowers %}
            <div class="flower-card">
                <h3>{{ flower.name }}</h3>
                <p>Price: {{ flower.price }} KZT</p>
            </div>
            {% endfor %}
        </div>
        
        <div class="total">
            Total Spent: {{ total }} KZT
        </div>
    {% else %}
        <p>No purchases yet. <a href="/flowers">Start shopping!</a></p>
    {% endif %}
