<!DOCTYPE html>
<html>
<head>
    <title>Кітап.kz - Добавить книгу</title>
</head>
<body>
    <h1>Добавить новую книгу</h1>
    <form action="/books" method="post">
        <label for="title">Название:</label>
        <input type="text" name="title" required>
        <br>
        <label for="author">Автор:</label>
        <input type="text" name="author" required>
        <br>
        <label for="year">Год издания:</label>
        <input type="number" name="year" required>
        <br>
        <label for="total_pages">Количество страниц:</label>
        <input type="number" name="total_pages" required>
        <br>
        <label for="genre">Жанр:</label>
        <input type="text" name="genre" required>
        <br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>
